body {
  text-align: center;
  margin: 32px;
  background-color: #fff;
  color: #848484;
  font-size: 16pt;
  font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
}

.vs-container {
  margin: 12px;
}

#red-name {
  font-weight: bold;
  color: #cc0035;
}

#blue-name {
  font-weight: bold;
  color: #354ca1;
}

#game-name {
  font-size: 14pt;
}

#game-name-fancy {
  display: none;
}

#file-upload {
  width: 78px;
  outline: none;
}

#range-container {
  margin-top: -24px;
  margin-left: -28px; /* hack */
  display: flex;
  justify-content: center;
}

#range-container > * {
  margin-left: 4px;
  margin-right: 4px;
  padding-left: 4px;
  padding-right: 4px;
}

#play-button {
  display: none;
  cursor: pointer;
  user-select: none;
}

#pause-button {
  display: none;
  cursor: pointer;
  user-select: none;
}

#message {
  font-size: 14pt;
  display: none;
  font-weight: bold;
}

.github-icon {
  position: absolute;
  right: 16px;
  bottom: 16px;
  background-color: #e5e5e5;
  padding: 8px;
  border-radius: 64px;
  user-select: none;
}
