body {
  text-align: center;
  margin: 32px;
  background-color: #fff;
  color: #848484;
  font-size: 16pt;
  font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
}

.vs-container {
  margin: 12px;
}

#red-name {
  font-weight: bold;
  color: #cc0035;
}

#blue-name {
  font-weight: bold;
  color: #354ca1;
}

#game-name {
  font-size: 14pt;
}

#game-name-fancy {
  display: none;
}

#file-upload {
  width: 78px;
  outline: none;
}

#range-container {
  margin-top: -24px;
  margin-left: -28px; /* hack */
  display: flex;
  justify-content: center;
  align-items: center;
}

#range-container > * {
  margin-left: 4px;
  margin-right: 4px;
  padding-left: 4px;
  padding-right: 4px;
}

#play-button {
  display: none;
  cursor: pointer;
  user-select: none;
}

#pause-button {
  display: none;
  cursor: pointer;
  user-select: none;
}

#speed {
  cursor: pointer;
}

#message {
  font-size: 14pt;
  display: none;
  font-weight: bold;
}

.github-icon {
  position: absolute;
  right: 16px;
  bottom: 16px;
  background-color: #e5e5e5;
  padding: 8px;
  border-radius: 64px;
  user-select: none;
}

/* The rest of this file is a better slider, from:
 * https://www.cssportal.com/style-input-range/
 * due to Chrome having a difficult-to-click default slider.
 */

input[type=range] {
  height: 24px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 12px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #50555C;
  background: #F9C80E;
  border-radius: 0px;
  border: 0px solid #000000;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 0px solid #000000;
  height: 18px;
  width: 15px;
  border-radius: 0px;
  background: #262626;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -3px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #F9C80E;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 12px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #50555C;
  background: #F9C80E;
  border-radius: 0px;
  border: 0px solid #000000;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 0px solid #000000;
  height: 18px;
  width: 15px;
  border-radius: 0px;
  background: #262626;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 12px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #F9C80E;
  border: 0px solid #000000;
  border-radius: 0px;
  box-shadow: 0px 0px 0px #50555C;
}
input[type=range]::-ms-fill-upper {
  background: #F9C80E;
  border: 0px solid #000000;
  border-radius: 0px;
  box-shadow: 0px 0px 0px #50555C;
}
input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0px 0px 0px #000000;
  border: 0px solid #000000;
  height: 18px;
  width: 15px;
  border-radius: 0px;
  background: #262626;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #F9C80E;
}
input[type=range]:focus::-ms-fill-upper {
  background: #F9C80E;
}
