body {
  text-align: center;
  margin: 32px;
  background-color: #eee;
  color: rgb(26, 26, 26);
  font-size: 24pt;
  font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
}

.note {
  font-size: 12pt;
  color: #9a9a9a;
}

#file-upload {
  width: 78px;
  outline: none;
}

#range-container {
  margin-top: -24px;
  margin-left: -28px; /* hack */
  display: flex;
  justify-content: center;
}

#range-container > * {
  margin-left: 4px;
  margin-right: 4px;
  padding-left: 4px;
  padding-right: 4px;
}

#play-button {
  display: none;
  cursor: pointer;
  user-select: none;
}

#pause-button {
  display: none;
  cursor: pointer;
  user-select: none;
}

.github-icon {
  position: absolute;
  right: 16px;
  bottom: 16px;
  background-color: #e5e5e5;
  padding: 8px;
  border-radius: 64px;
  user-select: none;
}
